change.json
[
    {
        "id": "a2713ad8.450728",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ca050232.d53c3",
        "type": "mqtt in",
        "z": "a2713ad8.450728",
        "name": "davehome/sensor",
        "topic": "davehome/sensor",
        "qos": "0",
        "datatype": "auto",
        "broker": "3b0b777e.e2e038",
        "x": 450,
        "y": 280,
        "wires": [
            [
                "952b8a07.1ae2f8"
            ]
        ]
    },
    {
        "id": "952b8a07.1ae2f8",
        "type": "json",
        "z": "a2713ad8.450728",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 480,
        "y": 340,
        "wires": [
            [
                "c20ec7f.23d7238"
            ]
        ]
    },
    {
        "id": "45c3660.4c2ba9c",
        "type": "debug",
        "z": "a2713ad8.450728",
        "name": "TrueConsole",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 790,
        "y": 260,
        "wires": []
    },
    {
        "id": "c20ec7f.23d7238",
        "type": "switch",
        "z": "a2713ad8.450728",
        "name": "Switch",
        "property": "payload.analyze",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 340,
        "wires": [
            [
                "45c3660.4c2ba9c"
            ],
            [
                "348d5cc7.7dbca4"
            ]
        ]
    },
    {
        "id": "348d5cc7.7dbca4",
        "type": "change",
        "z": "a2713ad8.450728",
        "name": "Change",
        "rules": [
            {
                "t": "set",
                "p": "payload.note",
                "pt": "msg",
                "to": "another note info",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 400,
        "wires": [
            [
                "452be9e3.a795b8"
            ]
        ]
    },
    {
        "id": "452be9e3.a795b8",
        "type": "debug",
        "z": "a2713ad8.450728",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 820,
        "y": 340,
        "wires": []
    },
    {
        "id": "3b0b777e.e2e038",
        "type": "mqtt-broker",
        "z": "",
        "name": "broker_jmqtt",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]